# sistema de build
/build
/app/build

# chave de API
/local.properties

# log e IDE
*.log
.idea/
.gradle/
*.iml
*.hprof

# Ficheiros do sistema operativo
.DS_Store
Thumbs.db

# assinatura
*.jks
*.keystore

# dependências C++
/app/cxx/

# captura do Android Studio
captures/